/*フッターを下側に固定*/
.c_footer {
    position: absolute;
    bottom: 0;
    width:100%;
}

/*問い合わせフォームのタイトルの調整*/
.c_title_lavel{
    text-align:left;
    width:50%;
}
.c_title{
    width:630px;
    margin-bottom:30px;
}

/*問い合わせフォームのテキストエリアの調整*/
.message{
    resize: none;
    width:630px;
    height:300px;
    margin-left:62px;
}

/*問い合わせフォームのラベルの調整*/
.q_lavel{
    width:50%;
    padding-bottom: 0px;
    text-align:left;
}

/*ナビゲーションバーの調整*/
nav{
    height:56px;
}

/*リストのナビゲーションバーの調整*/
.nav-item_list{
    margin-top:16px;
}

/*登録画面の調整*/

#map-container{
    width:653px;
    height:653px;
    margin:0px;
}

article {
    display:flex;/*フォームとコンテンツを横並び*/
}

label{
    margin:10px;
}

.txt{
    width:500px;
}

#input{
    margin-top:30px;
    margin-left:100px;
}